html{
  height:100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
   height:100%
  }
  /* .notable-regular {
    font-family: "Notable", sans-serif !important;
    font-weight: 400;
    font-style: normal;
  } */
main{
  display: flex;              /* Flexbox on the container */
  flex-grow: 1;               /* Make it grow to fill available space */
  justify-content: space-between;

}
.userbio{
  display:flex;
}
.row{
width:100%;

}
.childform{
  margin-right: 3%;
  margin-left: 3%;
  display: flex;
  width: 20%;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}
.top{
  display:flex;    
  justify-content: space-around;
}
.topimg{
  display: flex;
  width: 50%;
  padding: 30px;
}
 li{
width: 80%;
height:400px;
list-style:none; 
display:flex;
flex-direction:column;
  }

  .topimg img{
    width:100%;
  }

  #form{
  width:100%;
}
  select{
    width:10%;
  }
.col-sm-6{
  height:auto;
  width:50%;
}
.jumbo{
  padding:none;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-end;
  padding:0.5px;
}
.text-center{
  padding:none;
}
form{
  display: flex;
  width: 100%;
  text-align: right;
 
  flex-direction: column;
  justify-content: flex-start;
}
  header{
    background-color: rgb(228, 237, 251);
    color: black;
    padding: 1em;
    text-align: center;
    height:10vh;
  }
.user-section{
  display:flex;
  flex-direction:column;
  width:100%;

}
.user span{
  font-size: 25px;
}

.parent {
  display:flex;
  flex-direction:column;
}
.name{
  font:40px;
  font-weight:bold;
}

.children {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.child{
  width:50%;
  display: flex;
  flex-direction: column;
  font-size:24px;
  justify-content: center;
  outline:black;
}
.childimg{
  width: 80%;
    vertical-align: middle;
    border-style: none;
    padding: 10px;
}
.childbio{
  border-radius: 35px;
  border: 2px solid rgb(228, 237, 251);
  display: flex;
  flex-direction: row;
}
.row{
  display:flex;

 justify-content: space-between;
}
/* footer{
  display:flex;
  align-items:flex-end;
} */
  .footer{
    margin-top: auto; 
    background-color: rgb(228, 237, 251);
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
    bottom: 0;
    height:8vh;
  }