* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    height:100%;
  }
  
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      display: flex;
      flex-direction: column;
     height:100%;
     width:100%;
    }
  
  /* .main{
    display: flex;             
    flex-grow: 1;           
    justify-content: space-between;
    height:100vh;
  } */
.drow1 {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.childbio{
  display:flex;
width:40%;
}
  header{
    background-color: rgb(228, 237, 251);
    color: black;
    padding: 1em;
    text-align: center;
    height:14em;
  }
  .menu{
    display: flex;
align-items:baseline;
  }
  .back{
    display:flex;
width:100%
  }
  .child{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size:25px;
  }
.children{
  display:flex;
}
.kiddos{
  display:flex;
  justify-content:center;
  
}
main{
           /* Flexbox on the container */
    flex-grow: 1;               /* Make it grow to fill available space */
    justify-content: space-between;
    height:100vh;
  }
.bio{
  width:100%;
}
  .srow1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
}
.imgsec{
    width:33%;
}
  .listimg{
    width:100%;
    border-radius: 35px;
    border: 4px solid rgb(228, 237, 251);
  }
  li{
    list-style:none;
    display:flex;
  }
  footer{
    display:flex;
    align-items:flex-end;
  }
.footer{
  
      background-color: rgb(228, 237, 251);
      color: white;
      padding: 1em;
      text-align: center;
      width: 100%;
      bottom: 0;
      height:8vh;
    }